.table_topContainer {
  float: center;
  /* background-color: blue; */
}
.boardOporatorContainer{
  float:left;
}
.boardContainer {
  float: left;
}
.chatContainer {
  width: 40%;
  float: right;
  background-color: orange;
}
.imageContainer {
  width: 40%;
  float: right;
}
