.table_topContainer {
  float: center;
  /* background-color: blue; */
}

.board {
  float: left;
  background-color: black;
  width: 55%;
  height: 700px;
  overflow: auto;
}
.chatContainer {
  width: 40%;
  float: right;
  background-color: orange;
}
.imageContainer {
  width: 40%;
  float: right;
}
