.table_topContainer {
  float: center;
  /* background-color: blue; */
}
.boardOporatorContainer{
  float:left;
}
.board {
  float: left;
  background-color: black;
  width: 725px;
  height: 725px;
  overflow: auto;
}
.chatContainer {
  width: 40%;
  float: right;
  background-color: orange;
}
.imageContainer {
  width: 40%;
  float: right;
}
