.cell {
  width: 100px;
  height: 100px;
  background-color: green;
}
.cellImage {
  width: 80%;
  height: 80%;
  padding-top: 10%;
  padding-left: 10%;
}
.board {
  width: 725px;
  height: 725px;
  /* background-color: black; */
  overflow: auto;
}
