.imgPreview {
  text-align: center;
  margin: 5px 15px;
  height: 90px;
  width: 90px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;
}
.imgResize {
  width: 90px;
  height: 90px;
}
